body{
	background-color: #ABCDEF;
}

#info{
	padding: 50px;
	text-align: center;
}

h3{
	color: navy;
}
form{
	text-align: center;
}
textarea{
	height: 250px;
	width: 400px;
	margin: 0px 25px;
}
#mic{
	height: 75px;
	width: 75px;
	padding: 0 20px;
}
#submit{
	background-color: #F1D4D8;
}